@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url('files/ProximaNova-Regular.woff2') format('woff2'),
    url('files/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url('files/ProximaNova-Bold.woff2') format('woff2'), url('files/ProximaNova-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Majesti Banner';
  font-style: normal;
  font-weight: 400;
  src: url('files/Majesti-Banner-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Majesti Banner';
  font-style: normal;
  font-weight: 700;
  src: url('files/Majesti-Banner-Bold.ttf') format('truetype');
}
