.ant-picker-panel-layout {
  @media screen and (max-width: 423px) {
    width: 90vw;
    overflow: auto;
  }
}

.ant-select-item-option-content {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.ant-picker-dropdown .ant-picker-header-view button:hover {
  color: #10b369;
}

.ant-picker-now-btn:hover {
  color: #10b369;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background-color: #10b369;
}

.ant-btn-primary:not(:disabled):hover {
  background-color: #10b369;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: red;
}

.ant-select.ant-select-focused {
  border-color: #000000;
}

.ant-select-selector:hover {
  border-color: #000000 !important;
}
